/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.home-carousel {
  background-image: url("/images/boundary-forest.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-carousel .dark-mask {
  background: rgba(0, 0, 0, .75);
}
