<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "@id": "{{ .Site.BaseURL }}#business",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "logo": "{{ .Site.Params.logo | absURL }}",
  "image": "{{ with .Params.image }}{{ . | absURL }}{{ else }}{{ .Site.Params.defaultImage | absURL }}{{ end }}",
  "serviceType": [
    "Land Surveying",
    "Boundary Surveys",
    "Topographic Surveys",
    "Construction Staking"
  ],
  "paymentAccepted": ["cash","credit card","cryptocurrency"]
  "address":"Santa Cruz, CA"
}

</script>

